<meta charset="UTF-8">
<style type="text/css">/* Footer */

	@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,700&subset=cyrillic');

	.fc-top {
	  	padding: 0 0 !important;
	}
	._customer-footer {
		display: block;
	    font-family: 'OpenSans', Arial, sans-serif;
	  	background: linear-gradient(180deg, rgba(20, 28, 39, 0.9) 0%, rgba(9, 14, 21, 0.9) 100%), url("img/footer/footer-bg.png");
		background-size: cover;
		padding: 30px 0 29px 0;
		font-style: normal;
		font-weight: normal;
		color: #ffffff;
		font-size: 14px;
	}
	._customer-footer__wrap {
		display: -webkit-box;
		display: flex;
		-webkit-box-pack: justify;
		-ms-flex-pack: justify;
		justify-content: space-between;
		position: relative;
		max-width: 1227px;
		margin: auto;
		box-sizing: border-box;
		padding: 0 30px;
	}
	._customer-footer__logo {
		display: block;
		margin-bottom: 10px;
	}
	._customer-footer__contact {
	  	line-height: 41px;
	}
	._customer-footer__phone {
		font-size: 16px;
	}
	._customer-footer__phone {
	    background: url("img/footer/phone.png") 0 10px no-repeat;
	    padding-left: 30px;
	}
	._customer-footer__email {
	    background: url("img/footer/mail.png") 0 11px no-repeat;
	    padding-left: 30px;
	}
	._customer-footer__address {
	    background: url("img/footer/maps.png") 0 11px no-repeat;
	    padding-left: 30px;
	}
	._customer-footer__work {
	    background: url("img/footer/clock.png") 0 11px no-repeat;
	    padding-left: 30px;
	}
	._customer-footer__line {
	 	position: relative;
	}
	._customer-footer__line:after {
	    content: "";
	    display: block;
	    width: 1px;
	    height: 200px;
	    background: #405369;
	    opacity: 0.5;
	    position: absolute;
	    top: 15px;
		left: -100%;
	}
	._customer-footer__line:before {
		content: "";
		display: block;
		width: 1px;
		height: 200px;
		background: #405369;
		opacity: 0.5;
		position: absolute;
		top: 15px;
		right: -100%;
	}
	._customer-footer-col a {
	    text-decoration: none !important;
	    font-style: normal !important;
	    font-weight: normal !important;
	    line-height: 33px !important;
	    color: #ffffff;
	}
	._customer-footer-col a:hover {
	    text-decoration: underline !important;
	    color: #FABA20 !important;
	}
	._customer-footer-ttl {
	    font-style: normal;
	    font-weight: bold;
	    line-height: normal;
	    font-size: 18px;
	    color: #999999;
	    margin-top: 20px;
	    margin-bottom: 15px;
	}
	._customer-footer__list {
	    list-style: none !important;
	    padding: 0 !important;
	    margin: 0 !important;
	}
</style>
<!-- footer -->
<footer class="_customer-footer" itemscope="" itemtype="http://schema.org/LocalBusiness">
	<div class="_customer-footer__wrap">
		<div class="_customer-footer-col">
			<div class="_customer-footer__logo-block">
				<a class="_customer-footer__logo" href="/"><img itemprop="logo" src="img/footer/footer-logo.png" /></a>
			</div>
			<div class="_customer-footer__contact">
				<div class="_customer-footer-cnt _customer-footer__phone">
					<span>
						<a href="tel:+79137980863" itemprop="telephone"
							onclick="yaCounter45844605.reachGoal('megasite_footer_tel'); return true;">
						 	+7 (913) 798-08-63</a>
					</span>&nbsp;&nbsp;
					<span>
						<a href="tel:+78005000138" itemprop="telephone"
						   onclick="yaCounter45844605.reachGoal('megasite_footer_tel'); return true;">
							+7 (800) 500-01-38</a>
					</span>
				</div>
				<div class="_customer-footer-cnt _customer-footer__email">
					<span>
						<a href="mailto:info@avangard-tdom.ru" itemprop="email"
						   onclick="yaCounter45844605.reachGoal('megasite_footer_email'); return true;">
							info@avangard-tdom.ru</a>
					</span>
				</div>
				<div class="_customer-footer-cnt _customer-footer__address" itemprop="address"
					 itemscope="" itemtype="http://schema.org/PostalAddress">
					<span itemprop="addressLocality">г. Новосибирск,</span>
					<span itemprop="streetAddress">ул. Дуси Ковальчук, 2/2</span>
				</div>
				<div class="_customer-footer-cnt _customer-footer__work">
					<span content="Mo,Tu,We,Th,Fr,Sa 9:00-17:00" itemprop="openingHours">
						Пн-Пт 9:00-17:00, без
					</span>
				</div>
			</div>
		</div>
		<div class="_customer-footer-col _customer-footer__line">
		<div class="_customer-footer-ttl">Навигация</div>
		<ul class="_customer-footer__list">
			<li>
				<a href="/about">О компании</a>
			</li>
			<li>
				<a href="/catalog">Товары и услуги</a>
			</li>
			<li>
				<a href="#">Доп. страница</a>
			</li>
			<li>
				<a href="#">2-я доп. страница</a>
			</li>
			<li>
				<a href="/contacts">Контакты</a>
			</li>
		</ul>
		</div>
		<div class="_customer-footer-col">
			<div class="_customer-footer-ttl">Товары и услуги</div>
			<ul class="_customer-footer__list">
				<li>
					<a href="/catalog">Товарная категория 1</a>
				</li>
				<li>
					<a href="/catalog">Товарная категория 2</a>
				</li>
				<li>
					<a href="/catalog">Товарная категория 3</a>
				</li>
				<li>
					<a href="/catalog">Товарная категория 4</a>
				</li>
				<li>
					<a href="/catalog">Товарная категория 5</a>
				</li>
			</ul>
		</div>
	</div>
</footer>